<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Add Event</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-img src="/assets/event.png"></ion-img>
        <ion-card-content>
            <form [formGroup]="formEvent" (ngSubmit)="checkDate()">
                <ion-item>
                    <ion-label position="floating">Title</ion-label>
                    <ion-input type="text" formControlName="title"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Locality</ion-label>
                    <ion-input type="text" formControlName="locality"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Start Date</ion-label>
                    <ion-datetime display-format="YYYY-MM-DDTHH:mm:ssTZD" picker-format="DD MMMM YYYY HH:mm:ss" min="2016" max="2020-10-31" formControlName="startDate"></ion-datetime>
                </ion-item >
                <ion-item>
                    <ion-label>End Date</ion-label>
                    <ion-datetime display-format="YYYY-MM-DDTHH:mm:ssTZD" picker-format="DD MMMM YYYY HH:mm:ss" min="2016" max="2020-10-31" formControlName="endDate"></ion-datetime>
                </ion-item >
                <ion-item>
                    <ion-label>Category</ion-label>
                    <ion-select formControlName="category" okText="Okay" cancelText="Dismiss">
                        <ion-select-option *ngFor="let category of categoriesList" value={{category.id}}>{{category.name}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <div padding>
                    <ion-button type="submit" size="large" expand="block" [disabled]="!formEvent.valid">Create</ion-button>
                </div>
                <notifier-container></notifier-container>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
